/**************************************************

LANDING-PAGE

**************************************************/
body {
	font-family: 'Dosis', sans-serif;
	font-weight: lighter;
}

h1, h2, h3, h4, h5 {
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
}

.nav {
	font-size: 1.4em;
	font-weight: lighter;	
}
.navbar-header {
	font-weight: normal;
}
#home {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/sensors.jpg') center left no-repeat;
	background-attachment: fixed;	
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;
}
#interface {
	position: relative;
	overflow: visible;
	background: url('/images/landing-page/the_girl.png') center left no-repeat;	
	background-attachment: fixed;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
#robot {
	position: relative;
	overflow: hidden;
        background-color: #fff;
	padding-bottom: 4em;
	font-size: 1.5em;
     /* background: url('/images/landing-page/ren-001.jpg') center left no-repeat;	
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;
     */
}
#aquaponic {
	font-size: 2rem;
	font-weight: lighter;
}
#ecosystem {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/ecosystem.jpg') center left no-repeat;	
	background-attachment: fixed;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
#ecosystem2 {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/chilli.jpg') center left no-repeat;	
	background-attachment: fixed;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;


}
#lab {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/whiteboard.jpg') center left no-repeat;	
	background-attachment: fixed;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
#robotic {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/lab.jpg') center left no-repeat;	
	background-attachment: fixed;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
#contact {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/contact.jpg') center left no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
#robot .intro {
	padding-bottom: 2rem;
}
.robot_cad {
	width: 95%;
	height: 9em;
	border: 1px solid #d3d3d3;
	background-color: #f3f3f3;
	margin-bottom: 0.2em;
}
.divider {
	width: 25em;
}
hr {
	color: #9FD400;
	background-color: #9FD400;
	height: 1px;
	width: 45%
}
#formula {
	background-color: #9FD400;
	color: #fff;
	padding-top: 7rem;
	margin-bottom: 3em;
}
#formula p {
	font-size: 4rem;
}
.lead p {
	padding-top: 4rem;
	padding-bottom: 6rem;
}
#formula .arduino {
	margin: 0 auto;
	background: url('/images/landing-page/arduino-inside.png') top center no-repeat;	
	height: 29rem;
	width: 29rem;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
#formula .raspberry-pi {
	margin: 0 auto;
	background: url('/images/landing-page/raspberry-pi.png') top center no-repeat;	
	height: 29rem;
	width: 29rem;
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;

}
.formula {
	vertical-align: middle;	
	height: 30rem;
	font-size: 8rem;
	font-weight: bold;
	color: #fff;
	line-height: 30rem; 
}
.robot-iso {
	border: 1px solid #d3d3d3;
	background-color: #f3f3f3;
	padding-bottom: 14.5em;
}
#robot .tooltip-inner {
	font-size: 3rem;
	min-width: 400px;
	text-align: left;
	margin-left: 2px;
	padding: 19px 19px 37px;
	background-color: white;
	color: black;
	border: 1px solid #d3d3d3;
	
}
#a-place-called-home {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/a-place-called-home.png') top left no-repeat;	
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;
}
.jumbotron {
	position: relative;
	overflow: hidden;
	content: "";
	display: block;
}
.jumbotron .thumbnail,
#bot .thumbnail {
	background: transparent;
	border: none;
}
#bot {
	line-height: 3.5rem;
	font-size: 2rem;
	font-weight: lighter;
	text-align: justify;
}
#law {
	font-size: 2rem;
	line-height: 3.5rem;
	font-weight: lighter;
}
#law hr {
	margin-top: 13em;
}
.jumbotron .w-bg {

}
.jumbotron.header-half {
	padding-bottom: 0;
}
.power-point {
	font-size: 6.3rem;
	font-weight: 500;
	margin-top: 4rem;
	margin-bottom: 7rem;
}
.asciibot {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 3.5rem;
	margin-top: 4rem;
}
.love {
	margin-top: 8rem;
}
.posts {
	margin-bottom: 5rem;
	margin-top: 3rem;
}
.intro {
	font-size: 4.3rem;
	margin-top: 0.5em;
}
.lead i {
	font-size: 6.5rem;
	line-height: 10rem;
	font-weight: 100;
}
.lead {
	line-height: 0.5em;
}
.justify {
	text-align: justify;
}
.icon-padding {
	padding-top: 3rem;
}
.under-heading {
	margin-top: 4rem;
	font-size: 5.6rem;
}
.ard-pi {
	width: 100%;
	margin-top: 3rem;
}
.grey-bg {
	background-color: #eeeeee;
	color: #fff;
	margin-top: 6rem;
}
.title_height {
	height: 45rem;
}
.divider_img {
	height: 33rem;
}
#tagline {
	margin-bottom: 7em;
}

.normal {
	line-height: 1.4em;
}
#features img,
.features img {
	height: 8em;
	width: auto;
}
#features p,
#botnet_features p {
	height: 13rem;
}

.features_interface img {
	height: 11.5em;
	width: auto;
}
.features_interface {
	margin-top: -11.5rem;
}
#interface_features .features_interface {
	margin-bottom: 7em;
}
.features_interface p {
	font-size: 2rem;
}
#botnet_features {
	z-index: 0;
}
#botnet_features p {
	height: 5em;
}
#botnet {
	position: relative;
}
#botnet .colorbox {
	z-index: 0;	
	margin-top: -8rem;
}

#accordion .panel {
	border: 0px solid #fff;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}
.thumbnail {
	border: none;
}
.margin-bottom {
	margin-bottom: 15rem;
}
.margin-top {
	margin-top: 10rem;
}
#aquaponic {
	line-height: 3.5rem;
	text-align: justify;
}
.aquaponic img {
	width: 80%;
	height: auto;
	margin-top: 3px;
	margin-bottom: 8em;
}
