/**************************************************

LANDING-PAGE

**************************************************/

body {
	background-color: #b6b6b6;
}

.logo {
	padding-top: 3em;
}

#home {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/landinpage.png') top left no-repeat;	
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;
}
#a-place-called-home {
	position: relative;
	overflow: hidden;
	background: url('/images/landing-page/a-place-called-home.png') top left no-repeat;	
	-webkit-background-size: cover;
	         -moz-background-size: cover;
	           -o-background-size: cover;
	              background-size: cover;
}
.jumbotron {
	position: relative;
	overflow: hidden;
	content: "";
	display: block;
}
.jumbotron .thumbnail,
#bot .thumbnail {
	background: transparent;
	border: none;
	
}
.jumbotron .w-bg {
	background: #fff;
}
.jumbotron.header-half {
	padding-bottom: 0;
}
#bot .lead {
	font-size: 30px;
	margin: 0px auto 0rem auto;
}
.power-point {
	font-size: 6.3rem;
	font-weight: 500;
	margin-top: 4rem;
	margin-bottom: 7rem;
}
.asciibot {
	font-family: monospace;
	font-size: 8rem;
	margin-top: 4rem;
}
.love {
	margin-top: 8rem;
}
.posts {
	margin-bottom: 5rem;
	margin-top: 3rem;
}
#bot .intro {
	font-size: 6rem;
}
#bot .lead i {
	font-size: 4rem;
	line-height: 1rem;
}
.justify {
	text-align: justify;
}
.icon-padding {
	padding-top: 3rem;
}
.under-heading {
	margin-top: 4rem;
	font-size: 5.6rem;
}
.ard-pi {
	width: 100%;
	margin-top: 3rem;
}
.grey-bg {
	background-color: #B6B6B6;
	color: #fff;
	margin-top: 6rem;
}
