---
layout: default
title: plants-and-machines
---
<div id="home" class="jumbotron header-half">
  <div class="container">
  	<div class="row">	
  		<div class="col-md-offset-4 col-md-4 w-bg">
  			<div class="row">
  				<div class="col-md-8 col-md-offset-2"> 
  					<div class="thumbnail">
							<img class="" src="{{site.url}}/images/landing-page/logo.png" alt="logo" /> 
						</div>
  				</div>
  			</div> 
		    <h1 class="text-center"> Hello, world! </h1>
		    <p class="text-right">robotic ecosystems</p> 			
  		</div>
  	</div>
  </div>
</div>
<div id="bot" class="">
	<div id="" class="container">
		<div class="row">
			<div class="col-md-12"> 
				<p class="intro lead text-center">
					For thousands of years nature has been taking care of us.
				</p>
				<p class="lead text-center">
				 <i>
						<br>We think it is time to return some <strong>love</strong>.
				  </i>
				</p>			
			</div>
		</div>
	</div>
</div>
<div id="nbot" class="">
	<div id="" class="container">
	
		<div class="row">
			<div id="abot" class="asciibot col-md-4"></div>
			<div id="bbot" class="asciibot col-md-4"></div>	
			<div id="cbot" class="asciibot col-md-4"></div>	
		</div>
	</div>
</div>
<div id="nbot" class="grey-bg">
	<div id="" class="container">	
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4"> 
						<p class="lead justify">
							<br>
							with <strong>robots in boxes</strong>.
						</p>
						<p class="">  
							Crafting a <strong>raspberry-pi</strong> and an <strong>arduino</strong>,
							into a body designed to control the elements: <br> earth, water, air and fire.	
						</p>
					</div>
					<div class="col-md-8"> 
						<img alt="icon-of-raspberry-pi" src="{{site.url}}/images/landing-page/ard-plus-pi-horizontal.png" class="img-rounded ard-pi"/>				
					</div>
				</div>
		 	</div>
		</div>
		<div class="row" >			
			<div class="col-md-9">
				<p class="lead">
					robots with precise sensors and powerfull actors, able to control the clima. A robot with one purpose:
					
					to be the ultimate spa for nature
				 </p>
				
				<p class="lead">
					
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"> 
				
			</div>
		</div>
	</div>
</div>


<div class="container">
  <div class="row">
  	<!-- col 1 -->
		<div class="col-md-6"> 
			<h2 class="">We are putting the bot back into botanics<div class="text-right pull-right">\[°°]/</div></h2>
			{% for post in site.posts|slice(1) %}
				{% include post-item-12.html %}
			{% endfor %}
		</div>
		<!-- col 2 -->
		<div class="col-md-6">
			<h2 class="">why do robots?<div class="pull-right text-right">\[°-°],</div></h2> 
			{% for post in site.posts|slice(1) %} 
				{% include post-item-12.html %}
			{% endfor %}
		</div>
  </div>
</div>

<div id="" class="jumbotron header-half">
  <div class="container">
  	<div class="row">	
  		<div class="col-md-offset-4 col-md-4 w-bg"> 
		    <h1 class="text-center"> Hello, world! </h1>
		    <p class="text-right">robotic ecosystems</p>			
  		</div>
  	</div>
  </div>
</div>

<div class="container">
  <div class="row">
  	<!-- col 1 -->
		<div class="col-md-6"> 
			<h2 class="">Putting the bot back into botanics<div class="text-right pull-right">[°_°]</div></h2>
			{% for post in site.posts|slice(1) %}
				{% include post-item-12.html %}
			{% endfor %}
		</div>
		<!-- col 2 -->
		<div class="col-md-6">
			<h2 class="">why do robots?<div class="pull-right text-right">\[°-°],</div></h2> 
			{% for post in site.posts|slice(1) %} 
				{% include post-item-12.html %}
			{% endfor %}
		</div>
  </div>
</div>
