---
layout: default
title: robotic
---

<div id="home" class="jumbotron header-half title_height">
  <div class="container">
  	<div class="row">	
  	</div>
  </div>
</div>
<div id="bot" class="">
	<div id="" class="container">
		<div class="row">
			<div class="col-md-12 lead"> 
				<ol>
					<li>A robot may not injure a being or, through inaction, allow a being to come to harm.</li>
					<li>A robot must obey the orders given to it by human beings, except where such orders would conflict with the First Law.*</li>
					<li>A robot must protect its own existence as long as such protection does not conflict with the First or Second Laws.*</li>		
				</ol>			
			</div>
			<p class="pull-right">as stated in the wikipedia</p>
		</div>
	</div>
</div>
<div id="bot" class="jumbotron">
	<div id="" class="container">
		<div class="row">
			<div class="col-md-6"> 
				<p class="lead">
					We merge both domains to create amazingly cute <strong>robots</strong>. <br>With the sole purpose to serve <strong>plants</strong> &amp; <strong> animals </strong> as a home and to provide to both a recreational environment to live and flourish.
				</p>
			</div>
		</div>	
	</div>
</div>
<div id="a-life" class="jumbotron">
	<div id="" class="container">
		<div class="row">
			<div class="thumbnail col-md-3">
								
			</div>
			<div class="thumbnail col-md-4">		
				<h3 class="text-center">plants</h3>
				<img alt="icon-of-a-flower" src="{{site.url}}/images/landing-page/flora.png"/>	
				<h3 class="text-center"> auquatic-life</h3>
				<img alt="icon-of-the-sea-live" src="{{site.url}}/images/landing-page/aquatic-sea-life.png"/>			
			</div>
			<div class="col-md-6"> 
				<p class="lead">
					While both are being watched over by a little artificial intelligence. That lovingly cares about its inhabitants
				</p>
			</div>
		</div>
	</div>
</div>	
<div class="container">
  <div class="row">
  	<!-- col 1 -->
		<div class="col-md-6"> 
			<h2 class="">We are putting the bot back into botanics<div class="text-right pull-right">\[°°]/</div></h2>
			{% for post in site.posts|slice(1) %}
				{% include post-item-12.html %}
			{% endfor %}
		</div>
  </div>
</div>



