<div class="container space-top">
	<div class="row" >
		<div class="col-md-12">
			<p class="intro lead text-center">
				<i>Give nature a place to call home.</i>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3 class="text-center">mentioned in:</h3>
			<a class="row" href="http://www.faz.net/">
				<img class="col-md-12 peer-icons" src="images/landing-page/FAZ-grey.png">
			</a>
			<a class="row" href="http://www.nachhaltigwirtschaften.net/">
				<img class="col-md-12 peer-icons" src="images/landing-page/forum-grey.png">
			</a>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="/images/basics/favicon.gif" alt="logo" />
			</div>
		</div>
		<div class="col-md-4">
			<h3 class="text-center">code & other sources</h3>
			<ul class="github text-center">
				<li>
					<a class="row" href="https://github.com/plantsandmachines">
						plants & machines
					</a>
				</li>
				<li>
					<a class="row" href="https://github.com/plantsandmachines/early_alpha">
						the early alpha prototype
					</a>
				</li>
				<li>
					<a class="row" href="https://github.com/plantsandmachines/beta">
						beta prototype
					</a>
				</li>
			</ul>
				<a class="hackaday" href="http://hackaday.io">
					<img class="" src="images/basics/hackaday.io.png">
				</a>
				<a class="hackaday text-center" href="http://hackaday.io/project/798-food-replicator">
					sci-fi contest: food replicator
				</a>
		</div>
	</div>
	<div class="row">
  	<div class="col-md-12 text-center">
	    <div class="license">
	    	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
					<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
				</a>
				<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
					exept where noted otherwise all content on this website
				</span>
				by
				<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.plantsandmachines.de" property="cc:attributionName" rel="cc:attributionURL">
					plants & machines
				</a><br>
				is licensed under a
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution-ShareAlike 4.0 International License
				</a>.
		  </div>
  	</div>
  </div>
</div>
