<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.name }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	<li class=""><a href="{{site.url}}/robot/">robotic</a></li>
      	<li class=""><a href="{{site.url}}/aquaponic/">ecosystems</a></li>
        <li class=""><a href="{{site.url}}/lab-reports">blog</a></li>
        <li><a href="/contact">about</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://twitter.com/plants_machines" rel="publisher">
            <span class="sr-only">Facebook</span>
            <img src="{{site.url}}images/basics/twitter.png"/>
           </a> 
        </li>
        <li>
          <a href="https://www.facebook.com/plantsandmachines" rel="publisher">
            <span class="sr-only">Facebook</span>
            <img src="{{site.url}}images/basics/facebook.png"/>
          </a> 
        </li>
        <li>
          <a href="https://plus.google.com/107435902033954736751" rel="publisher">
            <span class="sr-only">Google+</span>
            <img src="{{site.url}}images/basics/GooglePlus.png"/>
          </a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
