<div class="posts">
  <div class="jumbotron title_height postimg">
    <img data-src="holder.js/300x200" src="{{post.teaserimage}}" alt="{{post.teaserimagealt}}"/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h3>{{ post.title }}</h3>
	  <p>{{ post.tags }}</p>	
          <p>{{ post.date | date_to_string }}</p><br>
          <p>{{ post.content | strip_html | truncatewords:60}}<br><br></p>
          <p><a  href="{{ post.url }}" class="btn btn-default" role="button">tell me more</a></p><br><br>
        </div>
      </div>
    </div>
  </div>
